<?xml version="1.0"?>
<configuration>
  <system.webServer>

    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>

    <rewrite>
      <rules>

        <rule name="Redirect HTTP to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true"
            redirectType="Permanent" />
        </rule>

        <rule name="Remove WWW" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.encuesta\.sistemasera\.com$" />
          </conditions>
          <action type="Redirect" url="https://encuesta.sistemasera.com/{R:1}"
            redirectType="Permanent" />
        </rule>

        <rule name="Reverse Proxy" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost:31013/{R:1}"
            appendQueryString="true" />
        </rule>

      </rules>
    </rewrite>

  </system.webServer>
</configuration>